{% extends 'pearako/base.html' %}
{% load static %}
{% block content %}
    <div class="col-12 col-md-10 projects_page">
        <div class="row header">

        </div>
        <div class="row free_space">
            {% block free_space %}
            {% endblock %}
        </div>
        {% if projects %}
            <div class="row projects_list">
                <div class="col-12">
                    {% for project in projects %}
                        <div class="row project">
                            <hr class="col-12">
                            {% if not forloop.counter|divisibleby:2 %}
                                <div class="col-12 col-md-4">
                                    {% with 'project_images/'|add:project.image_name as image_static %}
                                      <img src="{% static image_static %}" alt="{{ project.name }}">
                                    {% endwith %}
                                </div>
                                <div class="col-12 col-md-8">
                                    <h4>{{ project.name }}</h4>
                                    <p>
                                        {% if project.description %}
                                            {{ project.description | safe }}
                                        {% else %}
                                            {{ project.the_ask | safe }}
                                        {% endif %}
                                    </p>
                                    <div>
                                        <a href="{% url 'view_project' project_id=project.id %}">more...</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-12 col-md-8">
                                    <h4>{{ project.name }}</h4>
                                     <p>
                                        {% if project.description %}
                                            {{ project.description | safe }}
                                        {% else %}
                                            {{ project.the_ask | safe }}
                                        {% endif %}
                                    </p>
                                    <div>
                                        <a href="{% url 'view_project' project_id=project.id %}">more...</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    {% with 'project_images/'|add:project.image_name as image_static %}
                                      <img src="{% static image_static %}" alt="{{ project.name }}">
                                    {% endwith %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}