{% extends 'pearako/base.html' %}
{% block content %}
    <div class="col-12 col-md-10">
        <h1>{{ project.name }}</h1>
        {% if project.description %}
            {{ project.description }}
        {% endif %}
        {% if project.the_ask %}
            <h5>The Ask:</h5>
            {{ project.the_ask }}
        {% endif %}
        {% if project.challenges %}
            <h5>The Challenges:</h5>
            {{ project.challenges }}
        {% endif %}
        {% if project.solution %}
            <h5>The Solution:</h5>
            {{ project.solution }}
        {% endif %}
        {% if project.has_demo %}
            {% if project.demo_link %}
                <h5><a href="{{ project.demo_link }}" target="_blank">Try It Out</a></h5>
            {% else %}
                <h5><a href="{% url 'demo_project' project_slug=project.slug %}" target="_blank">Try It Out</a></h5>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}