img{
    width: 100%;
}

#header{

}


#server_messages .error{
    color: orangered;
}

#server_messages .success{
    color: green;
}

.projects_list .project{
    margin-top: 10px;
}

.projects_list .project p{
    font-size: 1.25em;
}

.projects_list .project img{
    width: 100%;
    padding: 3px;
    border: 2px solid black;
}

.projects_list .project h4{
    font-weight: bold;
}

/* view_project */
.view_project h5{
    font-weight: bold;
}
.view_project .images{
    margin-top: 10px;
}
.view_project .images .image{
    margin-top: 10px;
}
.view_project .images .holder{
    height: 200px;
    border: 1px solid darkgrey;
}
.view_project .images .caption{
    font-size: 12px;
    text-align: center;
}

.view_project .technologies img{
    width: 50px;
}