{% load static %}
{% load custom_tags %}
{% get_menu_info as menu_info %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lee Loftiss</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
</head>
<body>
    <div class="container-fluid">
        <div id="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% for page in menu_info.pages %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'view_projects_page' page_id=page.id %}">{{ page.name}}</a>
                            </li>
                        {% endfor %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Projects by Technology</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for technology in menu_info.technologies.all %}
                                    <li class="menu_technology">
                                        {% with 'badges/'|add:technology.slug as image_static %}
                                          <img src="{% static image_static %}.png" alt="{{ project.name }}" alt="{{ technology.name }}" data-toggle="tooltip"  title="{{ technology.name }}">
                                        {% endwith %}
                                        <a class="nav-link" href="{% url 'view_by_technology' technology_id=technology.id %}">{{ technology.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>

                    <div class=" my-2 my-lg-0">
                        <div class="social_buttons">
                            <a href="https://www.linkedin.com/in/lee-loftiss/" target="_blank"><img src="{% static 'site_assets/LI-In-Bug.png' %}" alt="LinkedIn" data-toggle="tooltip"  title="contact me"></a>
                            <a href="https://github.com/kleelof" target="_blank"><img src="{% static 'site_assets/GitHub-Mark-32px.png' %}" alt="GitHub" data-toggle="tooltip"  title="my code"></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        {% if messages %}
            <div id="server_messages">
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div id="content" class="row justify-content-center">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>