body { 
    background-color: rgb(40, 40, 40) !important;
}
img{
    width: 100%;
}

.center-justified {
    text-align: justify;
    text-align-last: center;
}
.tab {
    margin-left: 25px;
}

#header .leeloftiss {
    margin-left: 10px;
}

.pseudo-script {
    opacity: .40;
}
.pseudo-script-lg {
    font-size: 1.5em;
}
.class-name {
    font-size: 2em;
    font-weight: bold;
    color: rgb(35, 178, 235)
}
.bracket {
    color: white
}

.accessor {
    color: rgb(255, 0, 200)
}
.parameter {
    color: rgb(255, 100, 0);
    font-size: 1.1em;
}
.parameter a {
    color: rgb(255, 100, 0);
}
.parameter a:hover{
    color: rgb(255, 100, 0)
}
.full-opacity {
    opacity: 1;
}
.constructor {
    color: rgb(35, 178, 235);
}

.function-name {
    color: rgb(141, 197, 57);
    font-size: 1.3em;
    opacity: 100% !important;
}
.function-name a {
    color: rgb(141, 197, 57);
}
.function-name a:hover{
    color: rgb(141, 197, 57);
}
.external-link {
    color: yellow;
    opacity: 100% !important;
}
.external-link a {
    color: yellow;
}
.external-link a:hover{
    color: yellow;
}

.details-link {
    color: rgb(35, 178, 235);
    opacity: 100% !important;
}
.details-link a {
    color: rgb(35, 178, 235);
}
.details-link a:hover{
    color: rgb(35, 178, 235);
}

.promise {
    color: rgb(141, 197, 57);
}

.comment {
    color: white;
    font-size: .8em;
}

.caption{
    font-size: .7em;
    color: white;
}

/* social buttons */
.social_buttons img{
    height: 35px;
    width: 35px;
}

/* base.html */
#content{
    margin-top: 5px;
}

/* menu */
.menu_technology img{
    display: inline-block;
    width: 30px;
    margin-left: 3px;
}
.menu_technology a{
    display: inline-block;
}

/* messages */
#server_messages .error{
    color: orangered;
}

#server_messages .success{
    color: green;
}

/* projects page */
.project-description {
    color: rgb(35, 178, 235);
    padding-top: 5px;
    font-size: .8em;
}
.project-image {
    border: 1px solid rgb(255, 100, 0);
    margin-top: 20px;
}
.project-images-bracket {
    height: 100%;
}


.projects_page .header img{
    width: 150px;
}
.projects_page .header h2{
    display: inline-block;
}

/* projects list */
.projects_list .project{
    margin-top: 10px;
}
.projects_list .project p{
    font-size: 1.25em;
}
.projects_list .project img{
    width: 100%;
    padding: 3px;
    border: 2px solid black;
}
.projects_list .project h4{
    font-weight: bold;
}
.projects_list .name{
    font-size: 1.25em;
    text-align: center;
    font-weight: bold;
}

/* view_project */
.view_project h5{
    font-weight: bold;
}
.view_project .image_header .image{
    border: 1px solid darkgrey;
}
.view_project .images{
    margin-top: 10px;
}
.view_project .images .image{
    width: 100%;
    margin-top: 10px;
}
.view_project .images .holder{
    display: inline-block;
     border: 1px solid darkgrey;
}
.view_project .technologies img{
    width: 50px;
}

/* related projects */
.related_projects{
    margin-top: 10px;
}
.related_projects .project{
    border: 1px solid darkgrey;
    cursor: pointer;
    margin: 3px;
}
.related_projects .project{
    text-decoration: none;
    color: black;
}
.related_projects .project:hover{
    background-color: whitesmoke;
}
.related_projects .name{
    text-align: center;
}

@media (min-width: 576px) {
    html { font-size: 1.5rem; }
}
