{% extends 'meal_delivery/base.html' %}
{% load static %}
{% block content %}
    <div class="col-12 col-md-10 view_meal">
        {% if not meal %}
            Invalid meal
        {% else %}
            <div class="row meal">
                <div class="col-12 col-md-6 left_frame">
                    {% with 'meal_photos/'|add:meal.image as image_static %}
                        <img src="{% static image_static %}" alt="{{ meal.name }}">
                    {% endwith %}
                </div>
                <div class="col-12 col-md-6">
                    <h2>{{ meal.name }}</h2>
                    <p>{{ meal.description }}</p>
                    {% if request.user.is_authenticated %}
                        <div class="row ordering_bar" onselectstart="return false">
                            <div class="col-12">
                                <div class="num_selector">
                                    <div id="num_selector_min" class="selector">-</div>
                                    <div id="num_selector_num" class="number">0</div>
                                    <div id="num_selector_add" class="selector">+</div>
                                </div>
                                <div id="add_to_order_btn" class="add_to_order_btn">
                                    Add To Order
                                </div>
                                <form id="order_form" method="POST" action="{% url 'md_append_to_order' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="meal_id" value="{{ meal.id }}">
                                    <input type="hidden" name="window_id" value="{{ window_id }}">
                                    <input type="hidden" id="order_quantity" name="quantity"
                                            {% if order %}
                                                value="{{order.quantity}}"
                                            {% else %}
                                                value="0"
                                           {% endif %}
                                    >
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'md_login' %}?next={{ request.path }}">Login</a> or <a href="{% url 'md_register' %}">Register</a> to order!
                    {% endif %}
                    {% if associated_meals %}
                        <div class="row">
                            <div class="col-12">
                                <h5>Here are other dishes available the same day:</h5>
                            </div>
                            <div class="col-12 associated_meals">
                                <div class="row">
                                    {% for meal in associated_meals %}
                                        <div class="col-sm-6 col-md-4 meal no_padding">
                                            <div class="row inner">
                                                <div class="col-12">
                                                    <a class="row meal" href="{% url 'md_view_meal_by_window' meal_id=meal.id window_id=window_id %}">
                                                        {% with 'meal_photos/'|add:meal.image as image_static %}
                                                            <img src="{% static image_static %}" alt="{{ meal.name }}">
                                                        {% endwith %}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{# https://www.tileclub.com/collections/project-kitchen-tile/products/diamond-hex-calacatta-gold-marble-mosaic-tile?variant=29048267210845 #}